.wrapper {
    max-width: 450px;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &_shadow {
            z-index: 5;

        }
    }
    &__currencyPairs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(254, 254, 254);
        box-shadow: 2px 0px 4px 1px rgba(34, 60, 80, 0.2);
        width: 180px;
        z-index: 1;

        &__title {
            width: 100%;
            height: auto;
            background-color: aliceblue;
            border-bottom: 1px solid grey;
            p {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 18px;
                font-weight: 700;
                padding: 20px 20px;
                margin: 0;
            }
        }
        

        &__item {
            width: 100%;
            height: auto;
            border-bottom: 1px solid grey;
            p {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 14px;
                font-weight: 700;
                padding: 10px 20px;
                margin: 0;
            }
        }
    }

    // &__source {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     background-color: rgb(254, 254, 254);
    //     border-right: 1px solid #efeeee;
    //     width: 100px;
    //     height: 100%;

    //     &__item {
    //         p {
    //             font-family: Arial, Helvetica, sans-serif;
    //             font-size: 14px;
    //             font-weight: 400;
    //         }
    //     }
    // }
}